<div class="container-fluid text-center px-0 z-depth-2 indigo " style="background-image: url('assets/background.jpg')">
    <h2 class="text-white pt-3"><strong>WHY WE ARE LOVED</strong></h2>
    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" [animation]="'slide'" >
    <!-- slides content starts here -->
        <mdb-slide >
            <div class="d-block w-100 py-5 text-white" >
            <p> really loved the kind of service these people are giving
            at such a low cost </p>
            <img src="assets/anonymous.jpg" 
            height="50px" alt="profle_pic" class="mt-3 rounded-circle" ><br>
            <p ><strong>Anshuman singh</strong><br><span >student, IIIT Kurnool</span> </p></div>
            
        </mdb-slide>
        <mdb-slide >
            <div class="d-block w-100 py-5 text-white">
                <p>awesome service. Was searching for a site like this since
                    a long time..  </p>
                <img src="http://350cr.blogs.brynmawr.edu/files/2013/05/anonymous.jpg" 
                height="50px" alt="profle_pic" class="mt-3 rounded-circle" ><br>
                <p ><strong>alpha beta</strong><br><span >gamma, Delta</span> </p></div>
                
        </mdb-slide>
        
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
</div>
<!-- STATS ABOUT US -->
<div class="container-fluid text-center row text-muted mt-5">
  <div class="col-md-4">
    <h2 ><strong>13000</strong></h2>
    <p>STUDENTS LOVE US</p>
  </div>
  <div class="col-md-4">
      <h2 ><strong>25</strong></h2>
      <p>ORGANIZATIONS REGISTERED</p>
  </div>
  <div class="col-md-4 ">
      <h2 ><strong>180</strong></h2>
      <p>TESTS ATTEMPTED SUCCESSFULLY</p>
  </div> 
</div>
<div class="container-fluid  text-muted row  my-5">
    <div class="col-md-6 ">
        <h2 class="text-md-right text-center">In social media</h2> 
    </div>
    <div class="col-md-6  text-md-left text-center">
        <a href="#" ><img src="assets/youtube_icon.png" class="example hoverable" height="50px" width="50px"></a>
        <a href="#"><img src="assets/fb_icon.png" class="example hoverable" height="50px" width="50px"></a>
        <a href="#"><img src="assets/gmail_icon.png" class="example hoverable" height="50px" width="50px"></a>
        <a href="#"><img src="assets/linkedin_icon.png" class="example hoverable" height="50px" width="50px"></a>
        <a href="#"><img src="assets/twitter.jpeg" class="example hoverable" height="45px" width="45px"></a>
    </div>
    
</div>
                