<div style="height:100px "></div>
<!-- top nav -->
<div class="container-fluid indigo text-light  topHeader z-depth-1 pt-1 row mx-0 px-0">
    <div class="col-2 px-0">
  <a class="navbar-brand float-left ml-5 pr-0 mr-0" routerLink=""><img 
      src="assets/testforu_icon.png" height="50px"></a>
    </div>
    <div class="col-10 row px-0 text-center">
        <div class="col-2 h6 px-0 pt-3"><a href="#">Dashboard</a></div>
        <div class="col-2 h6 px-0 pt-3"><a href="#">Practice</a></div>
        <div class="col-2 h6 px-0 pt-3"><a  >Analysis</a></div>
        <div class="col-2 h6 px-0 pt-3"><a>Drive</a></div>
        <div class="col-2 h6 px-0 pt-3"><a>Notification</a></div>
        <div class="col-2 h6 px-0 pt-1"><a><img src="assets/anonymous.jpg" 
            height="50px" alt="profle_pic" class="rounded-circle" >
        </a></div>
    </div>
    <span class="toogle_button float-right mt-3" (click)="onClick()"> <i class="fa fa-bars fa-2x"></i></span>

</div>

<!-- div for sidenav -->
<div class="container white text-dark sideNav z-depth-5"  >
  <div><i class="fa fa-times fa-2x float-right " style="cursor: pointer;" (click)="closed()"></i></div>
  <ul class="mt-5 h6">
      <li class="nav-item">
          <a class="nav-link waves-dark" mdbRippleRadius>Students</a>
      </li>
      <li class="nav-item">
          <a class="nav-link waves-light" mdbRippleRadius>Institutions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light text-dark " routerLink='/general_instructions'
        routerLinkActive="active" mdbRippleRadius>Exams</a>
      </li>
      <li class="nav-item mt-3">
          <button type="button" class="btn btn-light h6 waves-dark btn-outline-indigo px-3 
          text-indigo " mdbRippleRadius>Log in</button>
          <button type="button" class="btn btn-indigo btn  h6 waves-dark text-white px-3
          " mdbRippleRadius>sign up</button>            
      </li> 
  </ul>
</div>

<!-- Upcoming tests -->
<div mx-3>
    <p class="h4">Upcoming Tests </p><hr>
</div>
<div class="row mb-5" >
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-4 border z-depth-1 text-center">
                <p class="h6">Akash Institute</p>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p class="h6 border">March <br>10</p>
                    </div>
                    <div class="col-8 h6">
                          Part Test 2<br>5:00PM IST 
                    </div>
                </div>
            </div>
            <div class="col-md-4 border z-depth-1 text-center">
                    <p class="h6">Akash Institute</p>
                    <hr>
                    <div class="row">
                        <div class="col-4">
                            <p class="h6 border">March <br>10</p>
                        </div>
                        <div class="col-8 h6">
                              Part Test 2<br>5:00PM IST 
                        </div>
                    </div>
            </div>
            <div class="col-md-4 border z-depth-1 text-center">
                    <p class="h6">Akash Institute</p>
                    <hr>
                    <div class="row">
                        <div class="col-4">
                            <p class="h6 border">March <br>10</p>
                        </div>
                        <div class="col-8 h6">
                                Part Test 2<br>5:00PM IST 
                        </div>
                    </div>
            </div>
            <div class="col-md-4 border z-depth-1 text-center">
                    <p class="h6">Akash Institute</p>
                    <hr>
                    <div class="row">
                        <div class="col-4">
                            <p class="h6 border">March <br>10</p>
                        </div>
                        <div class="col-8 h6">
                              Part Test 2<br>5:00PM IST 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 border z-depth-1 text-center">
                        <p class="h6">Akash Institute</p>
                        <hr>
                        <div class="row">
                            <div class="col-4">
                                <p class="h6 border">March <br>10</p>
                            </div>
                            <div class="col-8 h6">
                                  Part Test 2<br>5:00PM IST 
                            </div>
                        </div>
                </div>
                <div class="col-md-4 border z-depth-1 text-center">
                        <p class="h6">Akash Institute</p>
                        <hr>
                        <div class="row">
                            <div class="col-4">
                                <p class="h6 border">March <br>10</p>
                            </div>
                            <div class="col-8 h6">
                                    Part Test 2<br>5:00PM IST 
                            </div>
                        </div>
                </div>
    
        </div>
            
    </div>
    <div class="col-md-1"></div>
</div>


