div.topHeader{
    z-index: 200;
    span.toogle_button{
            display:none;
            cursor: pointer;  

    }
}

.topHeader li{
    display: inline;
}

div.sideNav{
    z-index: 1000;
    display: none;
    position:fixed;
    right:0px;
    top:0px;
    width: 325px; 
    height:2000px;
}

li{
    list-style-type: none;
}
a{
    color: white;
    hover{
        color:white;
      }
}
.active{
    color:rgb(88, 29, 39)
}