.not_answered{
    border:1px solid rgb(141, 14, 14);
    background-color: rgb(141, 14, 14);
    border-radius:0px 0px 13px 13px;
    color: white;
}
.answered{
    border:1px solid green;
    background-color: green;
    border-radius:13px 13px 0px 0px;
    color: white;
}
.marked{
    border:1px solid rgb(151, 9, 151);
    background-color:rgb(151, 9, 151);
    border-radius:13px 13px 13px 13px;
    color: white;
}
.marked_answered{
    border:2.5px solid green;
    border-right-width: 8px;
    border-left-width: 8px;
    background-color:rgb(151, 9, 151);
    border-radius:13px 13px 13px 13px;
    color: white;
}
.not_visited{
    border: 1px solid gray;
    color: black;
}
span{
    color: white;   
}
.ques_no{
    padding: 0rem 1rem;
    cursor: pointer;
    height:1.5rem ;
    margin: 0.20rem;
    margin-top: 20px;   
    text-align: center;
    
}
// media query for side nav for screen below 820px
@media (max-width:768px){
    div.body{
        div.free_space{
            display:none;
        }
    }
    #side_nav{
        display:none;
    }
    #marks-heading{
        position: relative;
        right:1rem;
    }
}
@media (min-width:768px){
    #close_button,#open_button{
        display:none;
    }
    
}
@media(min-width:768px) and (max-width:1080px){
    #marks-heading{
        position: relative;
        right:7rem;
    }
}
@media(min-width:1080px) and (max-width:1250px){
    #marks-heading{
        position: relative;
        right:4rem;
    }
}
