<div class="container-fluid row p-0 m-0 body">
  <!-- main body -->
  <div class="container-fluid  text-light  bottomHeader z-depth-1  pb-1 col-md-9 col-sm-12  px-0" 
    style="margin-top:4.4rem;" >
    <div class=" indigo pt-1">
        <span class=" h5  text-left pr-0 pl-3">time</span> <span id='timer' class="h5">00:05:00</span>
        
          <span class="h5 " id="marks-heading" style="float:right ">
              marks:
            <span class="border rounded small red">+1</span>
            <span class="border rounded  small green mr-5">-0.5</span>  </span>
    </div>
   
      <!-- questions in this div -->
    <div class="col-md-8 col-sm-12 " style="min-height: 550px">
      <p class="h4 ml-4 mt-3 text-muted">Question no:{{this.index+1}}</p>
      <div class="text-muted ml-5">
        <p class="h6 mt-3">{{ques[index].header}}</p>
        <p>{{ques[index].question}}</p>
        <ul >
          <li *ngFor = 'let opt of ques[index].options;let i= index' ><input type="radio" name="singleCorrect" 
            class="mr-3 option" (click)='this.tempResponse=i;'>{{opt }} </li>
        </ul>
      </div>
      <div class="row mb-3 text-center mx-0">
          <div class="col-md-4 col-6 px-0 ">
              <button type="button" class="btn btn-light indigo-text waves-dark " mdbRippleRadius
              (click)='markedReview(index);res.summaryCount();'><span class="indigo-text">Mark review</span></button>  
            </div>
            <div class="col-md-4 col-6 px-0">
              <button type="button" class="btn btn-light indigo-text waves-dark  " mdbRippleRadius
              (click)=' onClearOption();res.summaryCount();'><span class="indigo-text">clear</span></button>
            </div>
            <div class="col-md-4  col-12 px-0">
                  <span type="button" class="btn btn-light indigo-text waves-dark" mdbRippleRadius
                  (click)='saveResponse(index);res.summaryCount();'><span class="indigo-text"
                  >Save & Next</span></span>
            </div> 

      </div>
    </div>
  </div>
  <div class="col-3 free_space"></div>
  <!-- side nav for accessing questions-->
  <div class=" px-0 "id="side_nav" style="right:0px;max-width:338px;position:absolute;background: rgb(255, 255, 255); ">
    <div class=" z-depth-3  pt-3 px-0 " style="margin-top: 4rem;height:623px">
        <div class="text-right h4 text-muted mx-3 "id="close_button" (click)='toogle(false)' style="cursor: pointer;">
          <i class="fa fa-times"></i>
        </div>
       <!-- attempt summary --> 
          <div class="row ml-3">
          <div class="attempt_summary col-6 px-0">
            <span class="answered px-2">{{res.count_answered}}</span> answered<br>
            <span class="marked px-2">{{res.count_marked}}</span> marked for review <br>
            <span class="not_answered px-2">{{res.count_not_answered}}</span> not Answered</div>
          <div class="col-6 px-0">
            <span class="marked_answered px-2">{{res.count_marked_answered}}</span> answered and marked<br>
            <span class="not_visited px-2">{{res.count_not_visited}}</span> not visited
          </div>   
          </div> <hr>
          <!-- section selector -->
          <p class="h6 indigo-text">Section:</p>
          <div class="row ml-3">
              <button type="button" class="btn btn-light col-2 waves-dark m-1 p-1" mdbRippleRadius
              ><span class="indigo-text">1</span></button>
              <button type="button" class="btn btn-light col-2 waves-dark m-1 p-1" mdbRippleRadius
              ><span class="indigo-text">2</span></button>
              <button type="button" class="btn btn-light col-2 waves-dark m-1 p-1" mdbRippleRadius
              ><span class="indigo-text">3</span></button>
          </div><hr>
         <!-- list having question no. for navigation -->

        <div class="row mt-0 pl-3 ques_no_list" >
          <span *ngFor='let q of ques;let i=index' class='col-2 not_visited ques_no'
          (click)='showQuestion(i);res.summaryCount();' >{{i+1}}</span>
        </div>
        <div class="mx-auto mt-3" style="width:160px">
                    <button type="button" class="btn btn-light waves-light text-center indigo" mdbRippleRadius
                routerLink="/result" ><span class="white-text " (click)='testComplete()'>Finish Test</span></button>
        </div>
      </div>
  </div>
</div>
<!-- circular button for opening sidenav on small screen -->
<button type="button" class="btn btn-light indigo waves-dark p-3 px-4 m-0 rounded-circle " id="open_button"style="position:absolute;right:0px;top:470px;" mdbRippleRadius
              (click)='toogle(true)'><i class="fa fa-angle-left fa-4x"></i></button>
