<div class="h3 indigo z-depth-1 white-text text-center" style="margin-top: 4.4rem;">
  Results
</div>
<!-- general summary -->
<div class="text-muted ml-md-5 ml-3">
  <p class="h4">Test Results: IIITDM Kurnool</p>
  <p class="h5 mt-4">conducted on : 04/04/18 8:00PM-8:30PM </p>
  <p class="h6 ">Total Marks:90</p>
  <ul>
    <li>+ve Marks=12</li>
    <li>-ve Marks=12</li>
    <li>No of questions answered = 40</li>
    <li>No of questions incorrect = 10</li>
  </ul>
</div>
<!-- question wise solution with rsponse -->
<div class="text-muted my-5 px-md-5 px-3 mt-5">
  <div class="h5">Responses:</div>
  <table class="table  table-hover text-center table-striped "  >
    <thead>
      <tr class="indigo lighten-1 white-text">
        <th>QNo</th>
        <th>Correct Answer</th>
        <th>Response</th>
        <th>Output</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let q of ques;let i =index;'>
        <td>{{i+1}} </td>
        <td>{{q.answer}}</td>
        <td>{{response(i)}}</td>
        <td *ngIf='match(i)==0'><i class="fa fa-times"></i></td>
        <td *ngIf='match(i)==1'><i class="fa fa-check"></i></td>
        <td *ngIf='match(i)==-1'>nill</td>
      </tr>
    </tbody>
  </table>
</div>