<div class="container-fluid indigo text-light text-center bottomHeader z-depth-1 pt-5 pb-3 mt-5" >
  <p class="h4">Instructions</p>
</div>
<div class="container-fluid px-5">
  <p class="h4 text-muted mt-3">General Instructions</p>
  <ol class="pt-3 text-muted">
    <li> Once you start the test, the countdown timer will begin automatically. Once the time is
      finished you need not manually submit the answer. It will be submitted automatically.
    </li>
    <li> You can check your progress during the exam by clicking top rightmost icon. When you
      click the icon, a window will be opened from rightmost side which shows status of each
      question using following symbols:<br>
      <span class="not_visited">123</span> &nbsp;-you have not visited the question<br>
      <span class="marked">123</span> &nbsp;-you have marked the question for review<br>
      <span class="not_answered">123</span> &nbsp;- you have not answered the question<br>
      <span class="answered">123</span> &nbsp;-you have answered the question<br>
      <span class="marked_answered">123</span> &nbsp;-you have answered the question and marked for review
    </li>
    <li> <strong>Mark for review</strong> status of a question indicates that you would like to look at hte question
      again. Only those questions will be considered for final review whose answer has been saved.
    </li>
    <li> question in the right windows are displayed section wise. At any point of time, you can move
      from one section to the other . You can even move to from one question to another question just
      by clicking on the question.
    </li>
    <li> Once you select the option for a question, just click <strong>save </strong>and move to next. Your answer
      will be saved.
    </li>
  </ol>
  <!-- check box for reading instruction -->
  <p><input type="checkbox"
    (change)="checkBoxClicked($event)"
> I have and uderstood all the instructions.</p> 

</div> 
 <button type="button" class="btn btn-light  waves-dark ml-5 mb-5" mdbRippleRadius
 routerLink="../"><span class="indigo-text h6">Back</span></button>
 <button type="button" class="btn btn-light  waves-dark float-right mr-5 next-btn " mdbRippleRadius
  disabled="true" routerLink="/test-instructions"><span class="indigo-text h6">Next</span></button>

