.not_visited{
    border: 1px solid gray;
    color: black;
}
.not_answered{
    border:1px solid rgb(141, 14, 14);
    background-color: rgb(141, 14, 14);
    border-radius:0px 0px 13px 13px;
    color: white;
}
.answered{
    border:1px solid green;
    background-color: green;
    border-radius:13px 13px 0px 0px;
    color: white;
}
.marked{
    border:1px solid rgb(151, 9, 151);
    background-color:rgb(151, 9, 151);
    border-radius:13px 13px 13px 13px;
    color: white;
}
.marked_answered{
    border:2.5px solid green;
    border-right-width: 8px;
    border-left-width: 8px;
    background-color:rgb(151, 9, 151);
    border-radius:13px 13px 13px 13px;
    color: white;
}
