<div class="container-fluid indigo text-light text-center bottomHeader z-depth-1 pt-5 pb-3 mt-5" >
  <p class="h4">Instructions</p>
</div>
<div class="container-fluid px-5 text-muted">
  <p class="h4  text-center mt-3">IIITDM KURNOOL</p>
  <p class="h5   mt-3">Part test 1- Thermodynamics</p><hr>
  <p class="h6  mt-2 mb-5"><span>Duration:60 min</span><span class="float-right">Max Marks:120</span></p>
  <p><strong>Read the following instructions carefully.</strong></p>
  <ol class="pt-1 ">
    <li> Test duration is 120 minutes.
    </li>
    <li>You need to answer all the questions.</li>
    <li> There is only one section. Each section consisting of 20 questions.
       For each question you will be awarded 1 mark if answer is correct and you 
       will lose 0.25 marks for each wrong answer.
    </li>
</ol>
</div>

<button type="button" class="btn btn-light  waves-dark ml-5 mb-5" mdbRippleRadius
routerLink="/general_instructions"><span class="indigo-text h6">Back</span></button>  
<button type="button" class="btn btn-light  waves-dark float-right mr-5" mdbRippleRadius
  routerLink="/test-page"><span class="indigo-text h6" >Start Test</span></button>

